*{
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.search {
    position: relative;
    height: 50px;
}

.search .input {
    background-color: white;
    border: 0;
    padding: 15px;
    font-size: 15px;
    width: 50px ;
    transition: width 0.3s ease;
}